.DS_Store
/.build
/Packages
/dist
.DS_Store
dist/*.zip
.build/AppIcon.iconset
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
